
  h1,p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  img {
    max-height: 190px;
  object-fit: cover;
  }

  a.nav-link {
    cursor: pointer;
    color: var(--text-light);
  }
  
  a.nav-link:hover {
    color: var(--orange-yellow);
  }
  
  